@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Bangers';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Bangers-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Roboto-Bold.ttf');
}

@layer base {
  a,
  button,
  input {
    @apply focus:outline-none focus-visible:ring-4 focus-visible:ring-primary-700 dark:focus-visible:ring-primary-300;
  }
  
}

@layer components {
  .theme__creatures { @apply text-green-800 bg-primary-800/10 hover:bg-primary-600/10 dark:bg-gray-700 dark:bg-opacity-30 dark:hover:bg-opacity-50 dark:text-green-400 }
  .theme__creatures--active { @apply bg-green-700 text-green-50 }
}